@charset "UTF-8";

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("./Montserrat-Regular.woff2") format("woff2");
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Bold';
	src: url("./Montserrat-ExtraBold.woff2") format("woff2");
}

*, *::before, *::after { box-sizing: border-box; }

html { font-family: 'Montserrat', Trebuchet, sans-serif; font-size: 16px; line-height: 1.5em; }

body { display: block; min-height: 100vh; margin: 0; text-rendering: optimizeSpeed;}

img, picture { max-width: 100%; display: block; }

input, button, textarea, select { font: inherit; }

strong { font-weight: 900; }

.ScreenReaders { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0);white-space: nowrap; border-width: 0; }
